.add-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  padding: 24px;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #0073aa;

  .dashicon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    vertical-align: top;
  }
}
