.social-facebook,
.social-google,
.social-instagram,
.social-twitter,
.social-youtube {
  position: relative;
  display: block;
  text-indent: -1000vw;
  width: 20px;
  height: 20px;
  color: transparent;
}

.social-facebook::after,
.social-google::after,
.social-instagram::after,
.social-twitter::after,
.social-youtube::after {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 14px);
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 20px;
  transform: translateY(4px);
}

.social-facebook::after {
  @include icon_svg(20px, 20px, "white", "facebook");
}

.social-google::after {
  @include icon_svg(20px, 20px, "white", "google");
}

.social-instagram::after {
  @include icon_svg(20px, 20px, "white", "instagram");
}

.social-twitter::after {
  @include icon_svg(20px, 20px, "white", "twitter");
}

.social-youtube::after {
  @include icon_svg(20px, 20px, "white", "youtube");
}
