.mediaAside {
  display: flex;
  flex-direction: column;

  @include mq(x-small) {
    flex-direction: row;
  }
}

.mediaAside .mediaAside-col {
  @include flexy-grid(1, flexy-gutter());

  @include mq(x-small) {
    @include flexy-grid(2, flexy-gutter());
    display: flex;
    align-items: center;
  }
}

.mediaAside .mediaAside-col + .mediaAside-col {
  display: block;
  margin-top: 25px;

  @include mq(x-small) {
    margin-top: 0px;
    margin-left: flexy-gutter();
  }
}

.mediaAside-videoContainer {
  position: relative;
}

.mediaAside-videoContainer .mediaAside-video {
  width: 100%;
  height: auto;
}

.mediaAside-image {
  position: relative;
}

.mediaAside-image img {
  width: 100%;
  height: auto;
}

.mediaAside-image a,
.mediaAside-videoContainer a {
  position: absolute;
  right: 0;
  top: 0;
  padding: 17px 9px 17px 20px;

  &:enter {
    i {
      border-color: transparent transparent transparent #000;
    }
  }

  i {
    border-color: transparent transparent transparent #fff;
  }
}

.inlineVideo {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.inlineVideo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.inlineVideo .inlineVideo-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}

.inlineVideo a {
  z-index: 10;
}

.inlineVideo.inlineVideo--played a {
  display: none;
}
