.timelineMilestone {
  width: 100%;
}

.timeline-nav {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.timeline-nav div,
.timeline-nav button {
  flex-grow: 1;

  & + * {
    margin-left: 1px;
  }
}

.timeline-nav button {
  margin-bottom: 1px;
}

.timeline-nav .timeline-navActions {
  flex-grow: 1;
  width: 100%;
  flex-basis: 100%;
}

.timeline-nav .timeline-navActions .timeline-navButton {
  width: calc(50% - .5px);
}

.timeline-nav .is-active {
  @extend .btn--white;
}
