@mixin icon-wrapper () {
  pointer-events: none;
  background-image: url("../images/sprite.svg"), none;
  background-repeat: no-repeat;
  background-size: 313px 286px;
}

@mixin icon ($posx, $posy, $width, $height) {
  @include icon-wrapper;
  width: $width;
  height: $height;
  background-position: -#{$posx} -#{$posy};
}

@mixin icon_scale($posx, $posy, $width, $height, $scale) {
  pointer-events: none;
  background-image: url("../images/sprite.svg"), none;
  background-repeat: no-repeat;
  background-size: 313px * $scale 286px * $scale;
  width: $width * $scale;
  height: $height * $scale;
  background-position: -#{$posx * $scale} -#{$posy * $scale};
}

@mixin icon_svg($width, $height, $colour, $file) {
  background-image: url("../images/svg/#{$colour}/#{$file}.svg"), none;
  background-repeat: no-repeat;
  background-size: $width $height;
  width: $width;
  height: $height;
}
