@mixin icon_svg($width, $height, $colour, $file) {
  background-image: url("./assets/images/svg/#{$colour}/#{$file}.svg"), none;
  background-repeat: no-repeat;
  background-size: $width $height;
  width: $width;
  height: $height;
  pointer-events: none;
}
