:root {
  --ms-base: 16;
  --ms-ratio: 1.2;
}

//
// Global variables first
//
@import "utils/variables/defaults";
@import "utils/variables/colors";

// Grid settings
@import "utils/variables/grid-settings";

// Sass Mq
// @see https://github.com/sass-mq/sass-mq
@import "sass-mq";
@import "utils/variables/breakpoints";

//
// Everything else
//

// Normalize, from npm

// Functions
@import "utils/functions/maths";
@import "utils/functions/palette";
@import "utils/functions/strip-units";
@import "utils/functions/spacing";
@import "utils/functions/flexy";

// Mixins
@import "utils/mixins/clearfix";
@import "utils/mixins/font-size";
@import "utils/mixins/headings";
@import "utils/mixins/cols";
@import "utils/mixins/icon";
@import "utils/mixins/placeholder";
@import "utils/mixins/states";

// Base
@import "base/fonts";

// Layout
@import "layout/page-hero";
@import "layout/page-hero-editor";
@import "layout/page-section";
@import "layout/page-row-editor";

.section {
  padding: 20px 0;
}

// Components
@import "components/button/all";
@import "components/linklist/main";
@import "components/call-to-action/all";
@import "components/call-to-action/editor";
@import "components/grid/all";
@import "components/grid/editor";
@import "components/add-item";
@import "components/links-with-icons/main";
@import "components/links-with-icons/editor";
@import "components/image-block/main";
@import "components/image-block/editor";
@import "components/tweet-block/tweet";
@import "components/tweet-block/editor";
@import "components/action-block/main";
@import "components/action-block/editor";
@import "components/postlist/categories";
@import "components/postlist/categories-editor";
@import "components/fluid";
@import "components/slider/main";
@import "components/core-blocks/blockquote";
@import "components/core-blocks/blockquote-editor";
@import "components/core-blocks/image-editor";
@import "components/fact-block/main";
@import "components/fact-block/editor";
@import "components/header/editor";
@import "components/logo-list/main";
@import "components/logo-list/editor";
@import "components/post-grid/main";
@import "components/post-grid/editor"; 

p.has-small-font-size {
  font-size: .9rem !important;
}

p.has-regular-font-size {
  font-size: $base-font-size !important;
}

p.has-large-font-size {
  font-size: 1.5rem !important;
}

p.has-larger-font-size {
  font-size: 2rem !important;
}

.add-more-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  padding: 24px;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fff;
  border: 1px solid #0073aa;

  .dashicon {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    vertical-align: top;
  }
}

.form-row {
  display: flex;
}

.form-column {
  flex: 1 1 auto;
}

.form-column + .form-column {
  margin-left: 10px;
}

.form-action {
  flex: 0 0 45px;
}

.form-action button {
  margin-left: auto;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
  margin-top: 20px;
  border-top: 1px solid $color-grey-light;
}

// Gutenberg fixes
.editor-writing-flow {
  height: auto;
}

.edit-post-visual-editor .editor-writing-flow__click-redirect {
  max-height: 0;
  margin: 0;
}

// document reference input
.benenson-docref.disabled {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  border-top: 1px solid $color-grey-sm-light;
  border-bottom: 1px solid $color-grey-sm-light;

  .components-text-control__input {
    background-color: $color-grey-light;
  }
}
