.headerBlock .container {
  padding: 0 flexy-gutter();
}

.headerBlock .page-heroTitle span {
  line-height: 1.2;
}

.headerBlock .hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.headerBlock.headerBlock.page-heroAlignment--centre .hero-content {
  align-items: center;
}

.headerBlock.page-heroAlignment--right .hero-content {
  align-items: flex-end;
}
