.grid-5 .grid-item {
  flex: 1 1 100%;
  max-width: none;

  @include mq(x-small) {
    @include flexy-grid(2, flexy-gutter());

    .article-sidebar & {
      flex: 1 1 100%;
      max-width: none;
    }
  }

  @include mq(small) {
    @include flexy-grid(3, flexy-gutter());
  }
}

.grid-5 .grid-item + .grid-item {
  @include mq(small) {
    margin-left: calc(#{flexy-gutter()} - 1px);

    .rtl & {
      margin-right: calc(#{flexy-gutter()} - 1px);
      margin-left: 0;
    }

    .article-sidebar & {
      margin-left: 0;
      margin-top: flexy-gutter();
    }
  }
}

.grid-5 .grid-item:nth-child(-n + 2) {
  @include mq(small) {
    @include flexy-grid(2, flexy-gutter());

    .article-sidebar & {
      flex: 1 1 100%;
      max-width: none;
    }
  }
}

.grid-5 .grid-item:first-child {
  flex: 1 1 100%;
  max-width: none;

  @include mq(small) {
    @include flexy-grid(2, flexy-gutter());
  }
}

.grid-5 .grid-item:nth-child(3) {
  @include mq(small) {
    margin-left: 0;

    .rtl & {
      margin-right: 0;
    }
  }
}

.grid-5 .grid-item:nth-child(n + 3) {
  @include mq(small) {
    margin-top: flexy-gutter();
  }
}

.grid-5 .grid-item:nth-child(2n + 3) {
  @include mq($from: x-small, $until: small) {
    margin-left: calc(#{flexy-gutter()} - 1px);

    .rtl & {
      margin-right: calc(#{flexy-gutter()} - 1px);
      margin-left: 0;
    }
  }
}

.grid-5 .grid-item:nth-child(n + 2) {
  @include mq($until: small) {
    margin-top: flexy-gutter();
  }
}
