@include mq(small) {
  .row.layout-1\/4\|1\/2\|1\/4 > .rowColumn,
  .row.layout-1\/2\|1\/2 > .rowColumn {
    flex: 0 0 #{50% - (flexy-gutter() / 2)};
  }

  .row.layout-2\/3\|1\/3 > .rowColumn:first-child,
  .row.layout-1\/3\|2\/3 > .rowColumn:last-child {
    flex: 0 0 #{(100% / 3 * 2) - (flexy-gutter() / 2)};
  }

  .row.layout-2\/3\|1\/3 > .rowColumn:last-child,
  .row.layout-1\/3\|2\/3 > .rowColumn:first-child {
    flex: 0 0 #{(100% / 3) - (flexy-gutter() / 2)};
  }

  .row.layout-1\/4\|1\/2\|1\/4 > .rowColumn:first-child,
  .row.layout-1\/4\|1\/2\|1\/4 > .rowColumn:last-child,
  .row.layout-1\/4\|1\/4\|1\/4\|1\/4 > .rowColumn {
    flex: 0 0 #{25% - (flexy-gutter() * 3 / 4)};
  }
}
