/**
 * Clearfix
 */
.u-cf {
  @include clearfix;
}

/**
 * Floats
 */
.u-floatLeft,
.alignleft {
  float: left !important;
}

.u-floatRight,
.alignright {
  float: right !important;
}

.alignleft {
  margin: 5px 5px 5px 0;
}

.alignright {
  margin: 5px 0 5px 5px;
}
