// see components/core-blocks/_blockquote.scss
.blockquote {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.blockquote.is-background {
  padding: 35px;
  margin-top: 45px !important;
}

.blockquote.blockquote.is-background:not(.align-end):not(.align-start) {
  padding: 55px 35px 20px 35px;
}

.blockquote .blockquote-subText {
  display: block;
  font-size: 18px !important;
  font-weight: 300;
  font-family: $font-family-primary;
  padding: 10px 0 15px 0;
}

.blockquote .blockquote-image {
  max-height: 40px;
  margin-top: 10px;
}
